<script type="text/x-template" id="consumer-row">
    <tr>
        <td><span class="consumer-identifier">${consumer.group}:${consumer.name}</span></td>
        <td>
            ${consumer.description}
        </td>
        <td>
            <span role="button" class="badge badge-success" v-if="consumer.out_log[2] === true" v-on:click="getLog(consumer.group + ':' + consumer.name)"><i class="fa fa-info-circle"></i> ${consumer.out_log[1]}</span>
            <span role="button" class="badge badge-danger" v-if="consumer.err_log[2] === true" v-on:click="getErrorLog(consumer.group + ':' + consumer.name)"><i class="fa fa-exclamation-circle"></i> ${consumer.err_log[1]}</span>
        </td>
        <td>
            <span v-if="consumer.state == 0" class="user-select-none badge badge-dark">${consumer.statename}</span> {#  stopped#}
            <span v-else-if="consumer.state == 10" class="user-select-none badge badge-warning">${consumer.statename}</span> {#  starting#}
            <span v-else-if="consumer.state == 20" class="user-select-none badge badge-success">${consumer.statename}</span> {#  running#}
            <span v-else-if="consumer.state == 30" class="user-select-none badge badge-dark">${consumer.statename}</span> {#  backoff#}
            <span v-else-if="consumer.state == 40" class="user-select-none badge badge-warning">${consumer.statename}</span> {#  stopping#}
            <span v-else-if="consumer.state == 100" class="user-select-none badge badge-dark">${consumer.statename}</span> {#  exited#}
            <span v-else-if="consumer.state == 200" class="user-select-none badge badge-dark">${consumer.statename}</span> {#  fatal#}
            <span v-else class="user-select-none badge badge-primary" style="float:right">${consumer.statename} - ${consumer.state}</span> {# pls implement if you see this #}
        </td>
        <td style="text-align:right;">
            <span  role="button" v-if="[20].includes(consumer.state)" class="far fa-stop-circle" v-on:click="stop(consumer.group + ':' + consumer.name)"></span>
            <span  role="button" v-if="[0].includes(consumer.state)" class="far fa-play-circle" v-on:click="start(consumer.group + ':' + consumer.name)"></span>
            <span  role="button" class="fas fa-redo" v-on:click="restart(consumer.group + ':' + consumer.name)"></span>
        </td>
    </tr>
</script>
