<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include '@SrebbSupervisor/External/head_css.html.twig' %}

    <title>Adminpanel for supervisor</title>
    <style type="text/css">
        [v-cloak] {
            display: none;
        }

        .card {
            border: none;
        }

        .table {
            margin-bottom: 0;
        }

        .table tr:first-child td, .table tr:first-child th {
            border-top: 0;
        }

        .table tr:hover {
            background: #777777;
        }

        .control-badge {
            margin-left: 5px;
        }

        .control-badge:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>

{% include '@SrebbSupervisor/External/body_js.html.twig' %}

<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre class="log-span"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="app" class="app">
    <div class="container-fluid">
        <div class="row" id="server_card_container">
            <server-card
                    v-for="server in serverList"
                    v-bind:key="server.hash"
                    v-bind:server-hash="server.hash"
                    v-bind:server-name="server.name"
            ></server-card>
        </div>
    </div>
</div>

</body>
</html>
